<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'materialize/bin/materialize.css' %}"
          media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>{% block title %}WebGal{% endblock %}</title>
</head>

<body>

<nav>
    <div class="nav-wrapper indigo darken-4">
        <a href="#!" class="brand-logo">Logo</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="#">Profile</a></li>
            <li><a href="#modal1" class="modal-trigger">Log Out</a></li>
        </ul>
    </div>
</nav>

{% include 'modal.html' %}
<!-- Page Layout here -->
<div class="row">

    <div class="col s3" style="background-color: #90a4ae;">
        <!-- Grey navigation panel -->
        <div id="sidenav">
            {% block sidebar %}
            <!-- Only for debug -->
            <span>Sidenav</span>
            {% include "sidenav.html" %}
            {% endblock %}
        </div>
    </div>

    <div class="col s9" style="background-color: #26a69a;">
        <!-- Teal page content  -->
        <div id="content">
            {% block content %}
            <!-- Only for debug -->
            <span>Content</span>
            {% endblock %}
        </div>
    </div>
</div>


<div id="footer">
    {% block footer %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'materialize/bin/materialize.js' %}"></script>
    <script src="{% static 'js/include.js' %}"></script>

    {% endblock %}
</div>
</body>
</html>