{% extends 'index.html' %}

{% block sidebar %}
{#% if user.is_authenticated %#}
<a class="waves-effect waves-light btn-large col s12" href="{% url 'upload' user %}"><i class="material-icons left">call_made</i>Upload</a>
{#% endif %#}
{% endblock %}

{% block content %}
{% for project in userprojects %}
<div class="card col s1 m3 indigo lighten-5" style="margin: 10px; padding: 20px; width: 31%;">
    <div class="card-image">
        <img src="/media/{{project.user.id}}/{{project.project_name}}/thumbnail.jpg">
            <span class="card-title" style="padding: 5px; background:rgba(0, 30, 100, 0.5);"><a
                    href="{% url 'project' project.project_name %}">{{ project.project_name }}</a></span>
    </div>
    <div class="card-content">
        <p>{{ project.description }}</p>
        <blockquote>
            By: <a href="{% url 'profile' project.user %}">{{project.user}}</a> On: {{ project.pub_date }}
        </blockquote>
    </div>
    <div class="card-action" style="padding: 7px;">
        <form class="row" method="post" action="{% url 'index' %}">
            {% csrf_token %}
            <input type="hidden" name="project_id" value="{{project.id}}"/>
            <input type="hidden" name="user_id" value="{{user.id}}"/>
            <button class="btn waves-effect waves-light col s6" type="submit" name="like"
                    {% if not user.is_authenticated %} disabled {% endif %}>Like
                <i class="small material-icons left">thumb_up</i>
                {{project.likes}}
            </button>
            {% if user.is_authenticated and user.id == project.user.id %}
            <button class="btn waves-effect waves-light red accent-1 col s3 offset-s3 " type="submit" name="delete">
                <i class="tiny material-icons red-text text-lighten-1 right">delete</i>
            </button>
            {% endif %}
        </form>
        <div class="sharethis-inline-share-buttons" {% if not user.is_authenticated %}
             style="pointer-events:none;opacity:0.4;" {% endif %}></div>
    </div>
</div>

{% endfor %}

{% endblock %}
