{% extends 'index.html' %}

{% block sidebar %}
    {#% if user.is_authenticated %#}
        <h5>Comments</h5>
        {% for comment in comments %}
            <div class="card indigo lighten-5">
                <div class="card-content">
                  <span class="card-title  indigo-text text-darken-4">{{ comment.pub_date }}</span>
                    <p>{{ comment.text }}</p>
                </div>
                <div class="card-action leftborder" style="padding:5px;">
                        By: <a href="{% url 'profile' project.user %}">{{comment.user}}</a>
                       {% if user.id == comment.user_id %}
                            <form action="{% url 'project' projectname %}" method="post" enctype="multipart/form-data" style="padding-top: 10px;">
                                {% csrf_token %}
                                <input type="hidden" name="comment_id" value="{{comment.id}}" />
                                <button class="btn-floating btn waves-effect waves-light red" type="submit" name="deleteComment" >
                                    <i class="material-icons right">delete</i>
                                </button>
                            </form>
                         {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="divider"></div>
        <div class="card lime lighten-5">
            <form action="{% url 'project' projectname %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
             <div class="card-content">
                <h5 class="card-title indigo-text text-darken-4">Add a comment</h5>
                    {{ form }}
             </div>
            <div class="card-action" style="padding: 10px;">
                <button class="btn waves-effect waves-light" type="submit" name="addComment">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
            </form>
        </div>
    {#% endif %#}
{% endblock %}

{% block content %}

<iframe id="encoder_iframe" height="870px" width="100%%" src="/media/{{userid}}/{{projectname}}">
</iframe>

{% endblock %}
