appdirs==1.4.0
arrow==0.10.0
binaryornot==0.4.0
chardet==2.3.0
click==6.7
cookiecutter==1.5.1
-e git+https://github.com/HE-Arc/WebGaL.git@ecc6cea9a72618b6c5a18e9b35020086e98a87db#egg=Django
django-materialize-css==0.0.1
future==0.16.0
Jinja2==2.9.5
jinja2-time==0.2.0
MarkupSafe==1.0
packaging==16.8
poyo==0.4.0
psycopg2==2.6.2
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
six==1.10.0
whichcraft==0.4.0
